.card-container {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 6px solid gray;
    min-width: 100px;
    margin: 10px;
    background-color: gray;
    border-radius: 25px;
}